<nav class="top-nav custom-top-nav indigo darken-1">
    <div class="container">
        <div class="nav-wrapper"><a class="page-title">Parties List</a></div>
    </div>
</nav>

<div class="relative-container container">
    
    <parties-form></parties-form>
    
    <ul class="pagination" *ng-if="pagination.arrayPages">
        <li class="{{isCurrentPage(page)}}" *ng-for="#page of pagination.arrayPages" (click)="changePage(page)">
            <a >{{page}}</a>
        </li>
    </ul>

    <div class="input-field col s6">
        <input type="text" [(ng-model)]="search" id="search" (keyup)="searchBindingStart(search)" (keydown)="searchBindingStop()">
        <label for="search">Search</label>
    </div>
    
    <ul class="collection" *ng-if="parties">
        
        <li class="collection-item avatar" *ng-for="#party of parties">
            <party-item [item]="party"></party-item>
        </li>

    </ul>

</div>