.relative-container{
  position: relative;
}
.float-add-button{
  position: absolute;
  right: -70px;
  top: -74px;
}
.add-button-sec{
  position: absolute;
  top: -74px;
  right: 11px;
}
.add-button-third{
  position: absolute;
  top: -74px;
  left: 10px;
}
.page-title{
  font-size: 39px;
  font-weight: 100;
  padding: 50px 0;
}
.custom-top-nav{
  height: 200px;
  line-height: 200px;
  margin: 0 0 40px 0;
}